<!DOCTYPE html>
<html>
  <head>
    <title>Admin</title>
    <script src="/js/jquery-3.1.1.min.js"></script>

    <style>
    td {
      border: black 1px solid;
      padding: 1em;
    }
    </style>
  </head>

  <body>
    <h1>Admin Page (USER)</h1>

    <div id="login">
      <h2>Log In</h2>
      <p>Username: <input type="text" id="username"></text></p>
      <p>Password: <input type="password" id="password"></text></p>
      <button id="submit">Submit</button>
    </div>

    <p id="content">

    </p>
  </body>

  <script>
  // Dealing when the user click.
  $("#submit").click(function() {
    $.post({ url: "admin_login",
      data: JSON.stringify({"username": $("#username").val(), "password": $("#password").val(), "task": "users"}),
      dataType: 'json',
      contentType: 'application/json; charset=utf-8',
      success: function(d) {
        if (d.status == "unauthorized") {
          $("#content").html("Wrong credential.");
        } else if (d.status == "authorized") {
          $("#login").html("");
          render(d);
        } else {
          $("#content").html("Received a weird response.");
        }
      }
    });
  });

  // Render the data.
  function render(d) {
    var table = "<table>";
    table += "<tr><th>ID</th><th>Email</th><th>Token</th><th>Interview Time</th></tr>"

    for (var i = 0; i < d.users.length; i++) {
      table += "<tr>";
      table += "<td>" + String(d.users[i].id) + "</td>";
      table += "<td>" + String(d.users[i].email) + "</td>";
      table += "<td>" + String(d.users[i].token) + "</td>";
      table += "<td>" + String(d.users[i].interviewTime) + "</td>";
      table += "</tr>";
    }

    table += "</table>";

    $("#content").append(table);
  }
  </script>
<html>
