<!DOCTYPE html>
<html>
  <head>
    <title>
      Help
    </title>

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.js"></script>

    <style>
    .carousel-control.left .glyphicon {
      left: 0;
      margin-left:0;
    }

    .carousel-control.right .glyphicon {
      right:0;
      margin-right:0;
    }

    .carousel-indicators {
      bottom: -50px;
      margin-bottom:50px;
    }

    .carousel-indicators li {
      background-color: rgba(0,0,0,0.8);
      color: rgba(0,0,0,0.6);

    }

    .carousel-indicators li.active {
      background-color: rgba(250,200,0,0.8);
    }

    .carousel-control {
      color: rgb(250, 200, 0);
      opacity: 1;
    }

    .carousel-control:hover {
      color: rgb(250, 200, 200);
    }

    .carousel-control:visited {
      color: rgb(250, 200, 0);
      opacity: 1;
    }

    .carousel-control:link {
      color: rgb(250, 200, 0);
      opacity: 1;
    }

    .carousel-control.left, .carousel-control.right {
      background-image: none !important!
    }
    </style>
  </head>

  <body>
    <div class="jumbotron" style="margin-top:0px">
      <div class="container">
        <h1><span class="glyphicon glyphicon-question-sign"></span> Help</h1>
		
		<h2><span class="glyphicon glyphicon-envelope"></span> Contacting the investigator</h2>
		<p>You can contact the investigator for any kind of help; however, please take your time
		to consult the materials below first since they might address some of your issues.</p>
		<p>Email: <a href="mailto:vid.uofc@gmail.com">vid.uofc@gmail.com</a></p>

      </div>

    </div>

    <div class="container">
	
	  <h1><span class="glyphicon glyphicon-book"></span> Training Video</h1>
	  
	  <iframe width="560" height="315" src="https://www.youtube.com/embed/bVieOytwNCg" frameborder="0" allowfullscreen></iframe>

	  <hr/>
	
      <h1><span class="glyphicon glyphicon-book"></span> Training Manual</h1>

      <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="false" style="width:900px; border:grey 2px solid">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
          <li data-target="#myCarousel" data-slide-to="4"></li>
          <li data-target="#myCarousel" data-slide-to="5"></li>
          <li data-target="#myCarousel" data-slide-to="6"></li>
          <li data-target="#myCarousel" data-slide-to="7"></li>
          <li data-target="#myCarousel" data-slide-to="8"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <img src="img/ins1.png" alt="Instruction Slide 1">
          </div>

          <div class="item">
            <img src="img/ins2.png" alt="Instruction Slide 2">
          </div>

          <div class="item">
            <img src="img/ins3.png" alt="Instruction Slide 3">
          </div>

          <div class="item">
            <img src="img/ins4.png" alt="Instruction Slide 4">
          </div>

          <div class="item">
            <img src="img/ins5.png" alt="Instruction Slide 5">
          </div>

          <div class="item">
            <img src="img/ins6.png" alt="Instruction Slide 6">
          </div>

          <div class="item">
            <img src="img/ins7.png" alt="Instruction Slide 7">
          </div>

          <div class="item">
            <img src="img/ins8.png" alt="Instruction Slide 8">
          </div>

          <div class="item">
            <img src="img/ins9.png" alt="Instruction Slide 9">
          </div>
        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

      <h3><a href="main">If you are done, click here to return to the main page.</a></h3>

      <hr/>

      <h1><span class="glyphicon glyphicon-warning-sign"></span> Known Issues</h1>

      <h4>The list may be updated from time to time. Please check the list for your issue.</h4>
	  
	  <h3>I cannot interact with the links/annotations on the video.</h3>

      <p>Our video player does not allow you to interact with these elements. If you want to interact with these, you will need to watch the video on the YouTube website.</p>
	  
	  <h3>I cannot respond to advertisements.</h3>

      <p>You will not be able to interact with any advertisement include skipping it. If you want an improved experience, we suggest using an ad-blocker which
	  will remove all subtitles.</p>
	  
	  <h3>When I click on the subtitles in certain languages (like Chinese, Japanese), it translate the whole subtitle instead of an individual word.</h3>

      <p>We determine word separation by the spaces in the subtitle. If a language does not use space to separate words, then it will show the definition
	  of the whole subtitle. In order to properly separate words in all languages, we must commit to create language-specific code. This is infeasible for
	  so many reasons.</p>
	  
	  <h3>There is a thick black letterbox at the bottom of the screen.</h3>

      <p>This is intentional. Since we have our own subtitling system, it would be ideal to disable YouTube's own closed captions. However, the YouTube
	  API does not allow us to directly control the closed captions and the appearance of the closed captions is entirely based on how you interact with
	  the YouTube website itself. This means that depending on how you use YouTube, it would be possible to see double subtitles. We add the letterbox
	  to blot out YouTube's closed caption.</p>

      <h3>Vidoes will not load</h3>

      <p>Sometimes, the YouTube API can be finnicky when playing the video. You should try
		to relaunch the video from <a href="OMITTED">OMITTED</a>.</p>

      <p>It is also possible that the YouTube video that you are trying to play
      does not support embedding. Our video player can only play video that
      supports embedding.</p>

      <h3>Not all subtitles are available</h3>

      <p>The experimental video player does not support auto-generated subtitle.
      This means you will see less subtitles in the original video. Very rarely,
      YouTube will have a bug that refuses to offer all subtitles.</p>

      <h3>I'm trying to use the video player on a small-screen device. It's not working.</h3>

      <p>The experimental system must be used with a device like a tablet or a desktop.
      Devices such as cellphones are not supported.</p>

      <hr>

      <h1><span class="glyphicon glyphicon-envelope"></span> Contacting the investigator</h1>
      <p>Email: <a href="mailto:vid.uofc@gmail.com">vid.uofc@gmail.com</a></p>

      <hr>

      <h3><a href="main">Return to the main page</a></h3>
    </div>

  </body>
</html>
